.section-hero {
    border-radius: 0 0 195px 0;
    background-image: url("/img/bg-distorsion-home.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @screen lg {
      border-radius: 0 0 368px 0;

      &::after {
        content: "";
        width: 86px;
        aspect-ratio: 1;
        background-image: url("/img/corner-home.svg");
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
      }
    }
  }

  .circle-videos {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.5, 3, 0, 0.5);
    transform-origin: center;
  }

  .camera-video {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.5, 3, 0, 0.5);
    transition-delay: 50ms;
  }

  .wrapper-see-videos {
    &:hover {
      & .circle-videos {
        scale: 1.2;
      }

      & .camera-video {
        transform: translate(-50%, -50%) scale(1.2) rotate(-15deg);
      }
    }
  }

  .circle-videos {
    animation: rotation 8s infinite linear forwards;
  }

  @keyframes rotation {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(-360deg);
    }
  }