:global(p:not(:last-child)) {
    padding-bottom: 16px;
}

:global(p) {
    @apply text-purple-brand font-medium;
    font-size: 18px;
}

:global(.container-article) {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 0 auto;
}

:global(ul > li) {
    list-style-type: disc;
    margin-left: 16px
}

:global(ul) {
    margin-bottom: 16px !important;
}

:global(img) {
    width: 100%;
}

:global(h2) {
   @apply text-primary-500;
    font-size: 40px !important;
    margin: 24px 0 16px 0 !important;
    line-height: 110%;
    font-weight: 700 !important;;
}

:global(h3) {
    @apply text-purple-brand;
     font-size: 32px !important;
     margin: 24px 0 16px 0 !important;
     line-height: 42px;
     font-weight: 800 !important;;
 }

:global(a) {
    color: #FF4235 !important;
}