.glide__bullet {
    @apply bg-gray-aleo-500;

    width: 10px;
    height: 10px;
    border-radius: 50px;

    &--active {
      @apply bg-gray-aleo-800;
    }
  }

  .surtitle {
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ff4235;
    margin-bottom: 16px;
  }

  .title {
    font-style: italic;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #39073F;
    margin-bottom: 28px;

    @screen xl {
      font-size: 40px;
      line-height: 44px;
    }
  }

  :global(.section-cta) {
    background-image:url('https://res.cloudinary.com/dhnxwmjgn/image/upload/f_auto/v1683883929/bg-cta_x1gkrd.png');
    background-position: center;
    background-size: cover;
  }